<nav class="navbarm">
    <ul class="nav-rowm">
      <li><a href="/" class="navlinkm">Главная</a></li>
      <li><a href="/cryptography" class="navlinkm">Шифры</a></li>
      <li><a href="/doshirak" class="navlinkm">Дошики</a></li>
    </ul>
</nav>