<nav class="navbar">
    <ul class="nav-row">
      <li><a href="/#about" class="navlink">Обо мне</a></li>
      <li><a href="/#works" class="navlink">Работы</a></li>
      <li><a href="/#contact-me" class="navlink">Контакты</a></li>
    </ul>
    <hr>
</nav>