<section class="hero err">
    <h4 class="hero-title">Где мы? <br>
        <span class="error">
            Кажется мы заблудились.
            <a href="/">На главную!</a>
        </span> 
    </h4>
</section>