<section class="hero">
  <form action="/dradd" method="POST">
    <fieldset>
      <h3>Новая запись</h3>
      <input type="text" id="title" name="title" class="form-control" placeholder="Название" required> <br> <br>
      <textarea id="short" name="short" class="form-control" placeholder="Краткое описание" required></textarea><br> <br>
      <textarea id="text" name="text" class="form-control" placeholder="Текст" required></textarea><br> <br>
      <button type ="reset" class="btn btn-outline-danger">Очистить</button>
      <button type ="submit" class="btn btn-primary">Добавить</button>
    </fieldset>
  </form>

</section>